<p>Olá,</p>

<p>Eu sou o Zaqueu e vim cobrar você em nome do <%= @collection.user.name %>.</p>
<p>As informações dessa cobrança são:</p>
<p>Descrição da Cobrança: <%= @collection.description %></p>

<p>Data de Cobrança: <%= @collection.deadline.strftime('%d/%m/%Y') %></p>
<p>O <%= @collection.user.name %> aguarda o seu retorno! ;)</p>

<br/>
<p>Obrigado,</p>

<br/>
<p>Zaqueu.</p>
<p>http://zaqueu.heroku.com</p>