<p>Olá,</p>

<p>Eu sou o Zaqueu e vim cobrar você em nome do(a) <%= @collection.user.name %> (@collection.user.email).</p>
<p>As informações dessa cobrança são:</p>
<p>Descrição: <%= @collection.description %></p>

<p>Data de Cobrança: <%= @collection.deadline.strftime('%d/%m/%Y') %></p>
<p><%= @collection.user.name %> aguarda o seu retorno! ;)</p>

<br/>
<p>Obrigado,</p>

<br/>
<p>Zaqueu.</p>
<p>http://zaqueu.herokuapp.com</p>