<div class="container">
  <%= form_tag sessions_path, class: "form-signin" do %>
    <fieldset>
      <legend>Sign In</legend>
      <div class="form-group">
        <%= text_field_tag :email, nil, class: "input-block-level", placeholder: "Enter Email" %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, class: "input-block-level", placeholder: "Enter Password" %>
      </div>
      <button type="submit" class="btn btn-default btn-block">Login</button>
      <br/>
      <%= link_to "Sign up", new_user_path %> for a new account
    </fieldset>
  <% end %>
</div>