<p>Olá,</p>

<p>Você solicitou que sua senha fosse reiniciada.</p>
<p>Para escolher uma nova senha, acesse o link:</p>
<p>
  <a href="<%= @url %>"><%= @url %></a>
</p>

<p>Atenciosamente,</p>

Zaqueu.
<br/>
<a href="http://zaqueu.com.br">http://zaqueu.com.br</a>
