<div class="container">
  <%= form_for @user, url: user_update_yo_path(@user), html: {class: "form-signin"} do |f| %>
    <fieldset>
      <legend>Integração com Yo</legend>
      <div class="form-group">
        <%= f.text_field :yo_username, class: "form-control", placeholder: "Digite seu Yo username" %>
      </div>
      <button type="submit" class="btn btn-default btn-block">Atualizar</button>
    </fieldset>
  <% end %>
</div>
