// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deadline-green {
  color: #409B00;
}

.deadline-red {
  color: #CC0101;
}