<footer style="padding-top:80px;">
  <div class="container">
    <hr/>
    <div class="footer">
      <p>© 2013 - <%= link_to "Zaqueu", "http://idopter.com/users/paulo-igor/ideas/186-cobrador-online-zaqueu" %></p>
    </div>
  </div>
</footer>
